* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    width: 72vw;
    margin-left: 16vw;
    margin-right: auto;
}

.header {
    background: url("../images/header.png") 0 0/100% auto no-repeat;
    height: 77vw;

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            width: 10.5vw;
            background-color: #FA5C65;
            text-align: center;
            font-family: 'Domine', serif;
            color: #FFFFFF;
            font-size: 1.6vw;
            padding-top: 2.7vw;
            padding-bottom: 0.7vw;
            border-bottom-left-radius: 0.5vw;
            border-bottom-right-radius: 0.5vw;

            .gray {
                color: #314A5B;
            }
        }

        .right-part {
            display: flex;
            flex-direction: row;
            margin-top: 1.3vw;

            .nav {
                .nav__nav_link {
                    text-decoration: none;
                    font-family: 'Montserrat', sans-serif;
                    color: #263742;
                    font-size: 1.15vw;
                    margin-right: 2vw;
                }
            }

            .menu__img {
                margin-right: 2vw;
                
                
                #Twitter_pink{
                    object-fit: contain;
                    width: 1.4vw;
                    height: 1.3vw;
                }
    
                #Facebook_pink{
                    object-fit: contain;
                    width: 0.8vw;
                    height: 1.2vw;
                }
            }
        }
    }

    .header__center {
        position: relative;
        top: 22vw;

        .header__center__slogan {
            font-size: 3.2vw;
            color: #314A5B;
            font-family: 'Montserrat', sans-serif;
        }

        .header__center__under-slogan {
            position: relative;
            top: 1vw;
            font-size: 1.4vw;
            color: #314A5B;
            font-family: 'Open Sans', sans-serif;
        }

        .header__center__read-more {
            position: relative;
            top: 3vw;
            font-family: 'Open Sans', sans-serif;
            color: #FFFFFF;
            text-decoration: none;
            background-color: #FA5C65;
            padding: 1.5vw 3vw 1.5vw 3vw;
            border-radius: 0.5vw;
            font-weight: bold;
            font-size: 1.1vw;
        }

        .header__center__read-more:hover {
            background-color: #fa5c64b2;
            color: #314A5B;
        }
    }
}





.articles {
    display: flex;
    flex-direction: row;
    margin-top: 4vw;

    .article {
        margin-right: 3vw;
        width: 22.5vw;

        .article__name {
            font-family: 'Montserrat', sans-serif;
            font-size: 2vw;
            color: #465065;
            margin-top: 1vw;
            margin-bottom: 1vw;
        }

        .article__description {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.15vw;
            color: #9AA0AB;
            margin-bottom: 1.5vw;
        }
    }
}


.article-with-img {
    margin-top: 4vw;
    display: flex;
    flex-direction: row;

    .bigger-article {
        margin-top: auto;
        margin-bottom: auto;
        width: 28vw;
        margin-left: 6vw;
    }

    .article-with-img__img {
        width: 30vw;
    }

    .article__description {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.15vw;
        color: #9AA0AB;
        margin-bottom: 1.5vw;
    }

    .bigger-article__name {
        color: #314A5B;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.8vw;
        margin-bottom: 0.7vw;
    }

    .bigger-article__slogan {
        color: #314A5B;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 1.15vw;
        margin-bottom: 1.5vw;
    }
}


.team {
    margin-top: 7vw;
    margin-bottom: 3.5vw;

    .team__name {
        color: #314A5B;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.3vw;
        margin-bottom: 0.7vw;
    }

    .team__slogan {
        color: #9AA0AB;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25vw;
    }

    .guys {
        display: flex;
        flex-direction: row;
        margin-top: 3vw;
        justify-content: space-between;

        .guy {
            display: flex;
            flex-direction: row;
            

            .guy__img {
                border-radius: 50%;
                width: 12vw;
            }

            .guy__article {
                margin-left: 1vw;
                margin-top: auto;
                margin-bottom: auto;

                .guy__article__name {
                    color: #314A5B;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.8vw;
                }

                .guy__article__role {
                    color: #F0454C;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bold;
                    font-size: 1.25vw;
                }

                .guy__article__description {
                    color: #9AA0AB;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.2vw;
                }
            }
        }
    }

    .to-right {
        display: flex;
        justify-content: flex-end;
        margin-top: 3vw;
    }
}


.article__more a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    color: #F0454C;

    .arrow {
        height: 0.65vw;
        align-items: center;
    }
}

.pink {
    color: #FA5C65;
}

.footer {
    .footer-container {
        height: 70px;
        display: flex;
        justify-content: space-between;

        .footer__links {
            display: flex;
            flex-direction: row;
            align-items: center;

            .footer__link {
                margin-right: 2vw;
            }
        }
    }

    .footer__copyright {
        color: #B9C0C6;
        font-family: 'OpenSans', sans-serif;
        font-size: 1.3vw;
        display: flex;
        align-items: center;
    }
}








@media(max-width:760px){
    .container {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 7vw;
        padding-right: 7vw;
    }

    .header {
        background: url("../images/header.png") 0 0/100% auto no-repeat;
        height: 77vw;
    
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            .logo {
                width: 14.5vw;
                background-color: #FA5C65;
                text-align: center;
                font-family: 'Domine', serif;
                color: #FFFFFF;
                font-size: 2.1vw;
                padding-top: 4.7vw;
                padding-bottom: 1.7vw;
                border-bottom-left-radius: 0.8vw;
                border-bottom-right-radius: 0.8vw;
                margin-right: 3vw;
    
                .gray {
                    color: #314A5B;
                }
            }
    
            .right-part {
                display: flex;
                flex-direction: row;
                margin-top: 1.3vw;
    
                .nav {
                    .nav__nav_link {
                        text-decoration: none;
                        font-family: 'Montserrat', sans-serif;
                        color: #263742;
                        font-size: 2vw;
                        margin-right: 2vw;
                    }
                }
    
                .menu__img {
                    margin-right: 2vw;
                    
                    
                    #Twitter_pink{
                        object-fit: contain;
                        width: 2vw;
                        height: 2.1vw;
                    }
        
                    #Facebook_pink{
                        object-fit: contain;
                        width: 1.7vw;
                        height: 2.2vw;
                    }
                }
            }
        }
    
        .header__center {
            position: relative;
            top: 18vw;
            
    
            .header__center__slogan {
                font-size: 4.2vw;
                color: #314A5B;
                font-family: 'Montserrat', sans-serif;
            }
    
            .header__center__under-slogan {
                position: relative;
                top: 1vw;
                font-size: 2vw;
                color: #314A5B;
                font-family: 'Open Sans', sans-serif;
            }
    
            .header__center__read-more {
                position: relative;
                top: 4.5vw;
                font-family: 'Open Sans', sans-serif;
                color: #FFFFFF;
                text-decoration: none;
                background-color: #FA5C65;
                padding: 2vw 4vw 2vw 4vw;
                border-radius: 0.5vw;
                font-weight: bold;
                font-size: 1.6vw;
            }
    
            .header__center__read-more:hover {
                background-color: #fa5c64b2;
                color: #314A5B;
            }
        }
    }
    
    .articles {
        display: flex;
        margin-top: 4vw;
        justify-content: space-between;
    
        .article {
            margin-right: 0;
            width: 27vw;
    
            .article__name {
                font-family: 'Montserrat', sans-serif;
                font-size: 2.8vw;
                color: #465065;
                margin-top: 1vw;
                margin-bottom: 1vw;
            }
    
            .article__description {
                font-family: 'Open Sans', sans-serif;
                font-size: 1.7vw;
                color: #9AA0AB;
                margin-bottom: 1.5vw;
            }
        }
    }
    
    
    .article-with-img {
        margin-top: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        .bigger-article {
            margin-top: auto;
            margin-bottom: auto;
            width: 40vw;
        }
    
        .article-with-img__img {
            width: 40vw;
        }
    
        .article__description {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.7vw;
            color: #9AA0AB;
            margin-bottom: 1.5vw;
        }
    
        .bigger-article__name {
            color: #314A5B;
            font-family: 'Montserrat', sans-serif;
            font-size: 3.5vw;
            margin-bottom: 0.7vw;
        }
    
        .bigger-article__slogan {
            color: #314A5B;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 1.7vw;
            margin-bottom: 1.5vw;
        }
    }
    
    
    .team {
        margin-top: 7vw;
        margin-bottom: 3.5vw;
    
        .team__name {
            color: #314A5B;
            font-family: 'Montserrat', sans-serif;
            font-size: 3.1vw;
            margin-bottom: 0.7vw;
        }
    
        .team__slogan {
            color: #9AA0AB;
            font-family: 'Open Sans', sans-serif;
            font-size: 2.1vw;
        }
    
        .guys {
            display: flex;
            flex-direction: row;
            margin-top: 3vw;
    
            .guy {
                width: 32%;
    
                .guy__img {
                    border-radius: 50%;
                    width: 11vw;
                }
    
                .guy__article {
                    margin-left: 1.2vw;
                    margin-top: auto;
                    margin-bottom: auto;
    
                    .guy__article__name {
                        color: #314A5B;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 2.4vw;
                    }
    
                    .guy__article__role {
                        color: #F0454C;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: bold;
                        font-size: 2vw;
                    }
    
                    .guy__article__description {
                        color: #9AA0AB;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1.7vw;
                    }
                }
            }
        }
    
        .to-right {
            display: flex;
            justify-content: flex-end;
            margin-top: 3vw;
        }
    }
    
    
    .article__more a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6vw;
        font-weight: bold;
        color: #F0454C;
    
        .arrow {
            height: 1.2vw;
            align-items: center;
        }
    }
    
    .pink {
        color: #FA5C65;
    }
    
    .footer {
        .footer-container {
            height: 70px;
            display: flex;
            justify-content: space-between;
    
            .footer__links {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                .footer__link {
                    margin-right: 2.5vw;
                }
            }
        }
    
        .footer__copyright {
            color: #B9C0C6;
            font-family: 'OpenSans', sans-serif;
            font-size: 1.8vw;
            display: flex;
            align-items: center;
        }
    }
} 