* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.header {
    background: url("../images/header.png") 0 0/100% auto no-repeat;
    min-width: width;
    min-height: 77vw;
}

.container {
    width: 72vw;
    margin-left: 16vw;
    margin-right: auto;
}

.header__center {
    position: relative;
    top: 22vw;
}

.pink {
    color: #FA5C65;
}

.header__center__slogan {
    font-size: 3.2vw;
    color: #314A5B;
    font-family: 'Montserrat', sans-serif;
}

.header__center__under-slogan {
    position: relative;
    top: 1vw;
    font-size: 1.4vw;
    color: #314A5B;
    font-family: 'Open Sans', sans-serif;
}

.header__center__read-more {
    position: relative;
    top: 3vw;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #FA5C65;
    padding: 1.5vw 3vw 1.5vw 3vw;
    border-radius: 0.5vw;
    font-weight: bold;
    font-size: 1.1vw;
}

.header__center__read-more:hover {
    background-color: #fa5c64b2;
    color: #314A5B;
}

.menu {
    display: flex;
    flex-direction: row;
}

.nav {
    margin-top: 1.3vw;
    margin-left: 25vw;
}

.nav__nav_link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #263742;
    font-size: 1.15vw;
    margin-right: 2vw;
    text-align: top;
}

.nav__img {
    margin-right: 2vw;
    margin-top: 1.3vw;
    max-width: 1vw;
    max-height: 1vw;
}

.nav__img img {
    object-fit: cover;
    max-width: 1.6vw;
    max-height: 1.3vw;
}

.logo {
    width: 10.5vw;
    background-color: #FA5C65;
    text-align: center;
    font-family: 'Domine', serif;
    color: #FFFFFF;
    font-size: 1.6vw;
    padding-top: 2.7vw;
    padding-bottom: 0.7vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

.gray {
    color: #314A5B;
}

.articles {
    display: flex;
    flex-direction: row;
    margin-top: 4vw;
}

.article{
margin-right: 3vw;
width: 22.5vw;
}

.article__name {
    font-family: 'Montserrat', sans-serif;
font-size: 2vw;
color: #465065;
margin-top: 1vw;
margin-bottom: 1vw;
}

.article__description{
    font-family: 'Open Sans', sans-serif;
font-size: 1.15vw;
color: #9AA0AB;
margin-bottom: 1.5vw;
}

.article__more a{
text-decoration: none;
font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
font-weight: bold;
color: #F0454C;

}

.arrow{
    height: 0.65vw;
align-items: center;
}

.article-with-img__img{
    margin-top: 4vw;
}

/* @media(max-width:1440px){
    .container{
        min-width: 980px;;
    }
}

@media(max-width:1024px){
    .container{
        min-width: 980px;;
    }
}

@media(max-width:768px){
    .container{
        min-width: 700px;;
    }
}

@media(max-width:425px){
    .container{
        min-width: 400px;;
    }
} */
